.dayititle{
position:absolute;
padding-top:200px;
}
#image2{
position:absolute;
top:203px;
left:440px;
}
.dayititle1 
{
font-size:35px;
position:absolute;
top:220px;
left:730px;
color:black;
text-shadow: 5px 5px 5px #b0e0e6;
}
#image3{
position:absolute;
margin-top:20px;
margin-left:-200px;
}
#dayilink1
{
position:absolute;
top:660px;
left:500px;
font-size:20px;
color:#b0e0e6}
#dayilink2
{
position:absolute;
top:660px;
left:940px;
font-size:20px;
color:#b0e0e6}
#jiantou
{
position:absolute;
top:710px;
padding-left:50px}
#jilu
{
position:absolute;
top:795px;
left:700px;
}
#dayilink3
{
position:absolute;
top:1000px;
left:720px;
font-size:20px;
color:#b0e0e6
}